<div style="background-color:black; height:180px"></div>
<div class="container">

    <div class="row mt-70 mb-70 mr-0" >
        <div class="col-md-6 ">
            <div class="box wow slideInLeft boxed boxedp4" style="margin-top:10px; border-radius:15px;">
                <img src="~/images/classroom.png" width="100px" />
                <h2>Öğretmen</h2>
                <h4>Ders Vermek İstiyorum</h4>
                <p>Uzman olduğum alanda ders vermek istiyorum.</p>
                <a asp-area="" asp-controller="Account" asp-action="RegisterTeacher" class="btn btn-primary" style="border-radius:5px;">Özel Ders Vermeye Başla</a>
            </div>
        </div><!-- end col -->

        <div class="col-md-6">
            <div class="box wow slideInRight boxed boxedp4" style="margin-top:10px; border-radius:15px;">
                <img src="~/images/graduated.png" width="100px" />
                <h2>Öğrenci</h2>
                <h4>Ders Almak İstiyorum</h4>
                <p>İhtiyaçlarına en uygun öğretmenlerle tanışın.</p>
                <a asp-area="" asp-controller="Account" asp-action="RegisterStudent" class="btn btn-primary" style="border-radius:5px;">Özel Ders Almaya Başla</a>

            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div>