<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="widget clearfix">
                <h3 class="widget-title">Kayıt Ol</h3>
                <div class="newsletter-widget">
                    <p>Özel Akademi, kuruluşunuz, işiniz ve çevrimiçi eğitim sisteminiz için ideal seçimdir. Yetkin olduğunuz ders ile kurs verin veya istediğiniz bir ders hakkında online eğitim alın.</p>
                    <a class="readmore" asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                    <img src="images/payments.png" alt="" class="img-responsive">
                </div><!-- end newsletter -->
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-3 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Özel Akademi</h3>
                <p>Özel Akademi de kariyer yapmak ister misiniz ?</p>
                <a href="#" class="readmore">Bize Katıl </a>
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-3 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Popüler Etiketler</h3>
                <div class="tags-widget">
                    <ul class="list-inline">
                        <li><a href="#">Online</a></li>
                        <li><a href="#">Web tasarım</a></li>
                        <li><a href="#">Matematik</a></li>
                        <li><a href="#">Fizik</a></li>
                        <li><a href="#">Özel Eğitim</a></li>
                        <li><a href="#">Mühendislik</a></li>
                        <li><a href="#">İngilizce</a></li>
                        <li><a href="#">Edebiyat</a></li>
                        <li><a href="#">Kişisel Gelişim</a></li>
                        <li><a href="#">Yabancı Dil</a></li>
                        <li><a href="#">Yazılım</a></li>
                    </ul>
                </div><!-- end list-widget -->
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-2 col-md-2">
            <div class="widget clearfix">
                <h3 class="widget-title">Support</h3>
                <div class="list-widget">
                    <ul>
                        <li><a style="cursor:pointer;">Hakkımızda</a></li>
                        <li><a style="cursor:pointer;">Kullanım Şartları</a></li>
                        <li><a style="cursor:pointer;">Telif Hakları</a></li>
                        <li><a style="cursor:pointer;">Kariyer</a></li>
                        <li><a style="cursor:pointer;">Bize Ulaşın</a></li>
                    </ul>
                </div><!-- end list-widget -->
            </div><!-- end widget -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->