<ul class="nav navbar-nav navbar-right">
    <li><a asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="PrivatePage">Özel Ders</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="OnlinePage">Online Ders</a></li>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
            </li>
        }
        if (User.IsInRole("Teacher"))
        {
            <li class="dropdown hassubmenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">İşlemler <span class="fa fa-angle-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a asp-area="" asp-controller="Teacher" asp-action="Index" asp-route-id="@User.Identity.Name">İlanlarım</a></li>
                </ul>
            </li>
        }
        <li><a asp-area="" asp-controller="Account" asp-action="Manage" asp-route-id="@User.Identity.Name">Hesabım</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
    }
</ul>