<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Ana Sayfa</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
        <i class="nav-icon fas fa-laptop"></i>
        <p>Siteye Git</p>
    </a>
</li>
<li class="nav-header">KULLANICI</li>

<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
        <i class="nav-icon fas fa-users"></i>
        <p>Tüm Kullanıcı İşlemleri</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Teachers">
        <i class="nav-icon fas fa-users"></i>
        <p>Öğretmen İşlemleri</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Students">
        <i class="nav-icon fas fa-users"></i>
        <p>Öğrenci İşlemleri</p>
    </a>
</li>
<li class="nav-header">İLAN</li>

<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Advert" asp-action="Index">
        <i class="nav-icon fas fa-table"></i>
        <p>İlan İşlemleri</p>
    </a>
</li>
<li class="nav-header">SATIN ALMA</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
        <i class="nav-icon fas fa-table"></i>
        <p>Satın Alma İşlemleri</p>
    </a>
</li>

<li class="nav-header">DERS</li>

<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Lesson" asp-action="Index">
        <i class="nav-icon fas fa-book"></i>
        <p>Ders İşlemleri</p>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="Lesson" asp-action="Create">
        <i class="nav-icon far fa-plus-square"></i>
        <p>Ders Ekle</p>
    </a>
</li>
<li class="nav-header">----------------------------------------------</li>